body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 60px;
}


.container {
  background: rgb(250, 250, 250);
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inputTask {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputTask input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.inputTask button {
  padding: 10px 20px;
  background-color: rgb(9, 204, 9);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.inputTask button:hover {
  background-color: #2fe099;
}


.taskData {
  display: flex;                 /* Makes side by side */
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.taskData p {
  margin: 0;
  font-size: 15px;
  word-break: break-word;
}

.taskData i {
  cursor: pointer;
  color: red;
  font-size: 16px;
  transition: 0.2s;
}

.taskData i:hover {
  color: darkred;
  transform: scale(1.2);
}
